@charset "utf-8";
/* CSS Document */
/* Main Styles */
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Regular.eot');
    src: url('../fonts/AvenirNext-Regular.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext-Regular.woff2') format('woff2'),
    url('../fonts/AvenirNext-Regular.woff') format('woff'),
    url('../fonts/AvenirNext-Regular.ttf') format('truetype'),
    url('../fonts/AvenirNext-Regular.svg#AvenirNext-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Avenir Next';
    src: url('../fonts/AvenirNext-Bold.eot');
    src: url('../fonts/AvenirNext-Bold.eot?#iefix') format('embedded-opentype'),
    url('../fonts/AvenirNext-Bold.woff2') format('woff2'),
    url('../fonts/AvenirNext-Bold.woff') format('woff'),
    url('../fonts/AvenirNext-Bold.ttf') format('truetype'),
    url('../fonts/AvenirNext-Bold.svg#AvenirNext-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}
/*----page----*/
.page .col-lg-8,
.page .col-xl-8 {
    width: 72%;
}
.page .col-lg-4,
.page .col-xl-4 {
    width: 28%;
}
body {
    position: relative;
    padding-bottom: 1px;
    background-color: #FFFFFF;
    font-family: Arial, Helvetica, sans-serif;
}
.page {
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 480px;
    max-width: 1440px;
    height: 100%;
}
footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
    min-width: 480px;
    max-width: 1440px;
    height: 1px;
}
header {
    position: relative;
    padding: 30px 0;
    width: 100%;
    height: 158px;
}
.logo {
    display: block;
    position: relative;
    left: 62px;
    width: 124px;
    height: 98px;
}
.message-inform {
    position: relative;
    right: 136px;
    top: 33px;
    width: 128px;
    height: 46px;
}
a.info {
    position: relative;
    display: block;
    width: 46px;
    height: 46px;
    border: 2px solid #000000;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
a.info:hover,
a.info:focus {
    border-color: #ff696e;
    color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
a.info:hover:before,
a.info:focus:before {
    color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
a.info:before {
    content: "\f129";
    font-family: 'FontAwesome';
    font-size: 30px;
    line-height: 32px;
    display: inline-block;
    color: #000000;
    position: absolute;
    right: 15px;
    bottom: 4px;
    -webkit-transition: .4s;
    transition: .4s;
}
a.message {
    display: block;
    position: relative;
    top: 2px;
    width: 57px;
    height: 41px;
    -webkit-transition: .4s;
    transition: .4s;
}
a.message:hover:before,
a.message:focus:before {
    color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
a.message:before {
    content: "\f003";
    font-family: 'FontAwesome';
    font-size: 54px;
    line-height: 56px;
    display: inline-block;
    color: #000000;
    position: absolute;
    right: 0;
    bottom: -8px;
    -webkit-transition: .4s;
    transition: .4s;
}
.pd-20 {
    padding: 20px 0 0 0;
}
.registration {
    padding: 57px 0 0 0;
    width: 79%;
    height: 622px;
    border-radius: 30px;
    background-image: radial-gradient(circle at 100% 50%, #ffebab, #ff696e);
    border: solid 1px #ff696e;
}
.registration-in {
    margin: auto;
    padding: 16px 0 0 0;
    width: 81%;
    height: 531px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(255, 105, 110, 0.96);
}
.registration-in ul{
    padding: 0 0 4px 0;
    border-bottom: 2px solid #ff696e;
}
.registration-in li:nth-child(2) {
    padding: 2px 28px 0 0;
}
.registration-in li a{
    color: #000000;
    text-decoration:  none;
}
.scrollable-menu {
    height: auto;
    max-height: 180px;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 4px;        
}    
::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: lightgray;
    -webkit-box-shadow: 0 0 1px rgba(255,255,255,.75);        
}
.registration-in li a.active{
    color: #ff696e;
}
.form-block {
    display: none;
}
.form-block.active {
    display: block;
}
a.sign-up {
    width: 96px;
    height: 33px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #ff696e;
}
a.login {
    width: 68px;
    height: 33px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 24px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.3px;
    color: #000000;
}

/*switch*/
label.switch {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    width: 50px;
    height: 30px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 20px;
    left: 6px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
.placeholder {
    width: 50px;
    height: 30px;
    border-radius: 100px;
    background-color: #ff696e;
}
input:checked + .slider {
    background-color: #ff696e;
}

input:focus + .slider {
    box-shadow: 0 0 1px #ff696e;
}
input + .slider:before {
    -webkit-transform: translateX(18px);
    -ms-transform: translateX(18px);
    transform: translateX(18px);
}
input:checked + .slider:before {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 30px;
}
.slider.round:before {
    border-radius: 50%;
}
.menu-1 {
    padding: 31px 30px 0;
}
.menu-2,
.menu-3 {
    padding: 22px 30px 0;
}
.form-block .form-control {
    display: block;
    width: 100%;
    margin: 0 0 20px;
    padding: 15px 19px 13px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    line-height: 1.5;
    color: #000000;
    background-color: #ffffff;
    background-clip: padding-box;
    border: 2px solid #626262;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.menu-1 .form-control:focus,
.menu-2 .form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #626262;
    outline: 0;
    box-shadow: none;
}
.menu-1 input.form-control::-webkit-input-placeholder {
    color: #000000;
}
.menu-1 input.form-control::-moz-placeholder {
    color: #000000;
}
.menu-1 input.form-control:-moz-placeholder {
    color: #000000;
}
.menu-1 input.form-control:-ms-input-placeholder {
    color: #000000;
}
.menu-2 input.form-control::-webkit-input-placeholder {
    color: #000000;
}
.menu-2 input.form-control::-moz-placeholder {
    color: #000000;
}
.menu-2 input.form-control:-moz-placeholder {
    color: #000000;
}
.menu-2 input.form-control:-ms-input-placeholder {
    color: #000000;
}
p.forgot-password {
    margin: 0 0 48px;
}
.forgot-password a{
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff0008;
}

.error-message {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ff0008;
}
.success-message {
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color : darkgreen;
}
.start {
    margin: auto;
    width: 154px;
    height: 50px;
    border-radius: 4px;
    background-color: #ffffff;
    border: solid 1px #ff0008;
    text-transform: uppercase;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 1.5px;
    color: #000000;
}
.start:hover, .start.btn-primary:not(:disabled):not(.disabled):active, .start.btn-primary:not(:disabled):not(.disabled).active, .show > .start.btn-primary.dropdown-toggle {
    color: #ffffff;
    background-color: #ff0008;
    border-color: #ff0008;
    box-shadow: none;
}
.start.btn-primary:not(:disabled):not(.disabled):active:focus, .start.btn-primary:not(:disabled):not(.disabled).active:focus, .show > .start.btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.button-block {
    position: relative;
    margin: 0 0 20px;
}
.gender {
    width: 42%;
}
.gender .btn,
.country .btn {
    padding: 15px 19px 13px;
    width: 100%;
    border: 2px solid #626262;
    text-align: left;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
 }
.gender .btn {
    -webkit-border-radius: 4px 0 0 4px;
    -moz-border-radius: 4px 0 0 4px;
    border-radius: 4px 0 0 4px;
}
.country .btn {
    border-left: none;
    -webkit-border-radius: 0 4px 4px 0;
    -moz-border-radius: 0 4px 4px 0;
    border-radius: 0 4px 4px 0;
}
.country {
    width: 58%;
}
.dropdown-toggle::after {
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: none;
    border-right: none;
    border-bottom: 0;
    border-left: none;
}
.fa-angle-down {
    position: relative;
}
.btn-group.country:before,
.btn-group.gender:before {
    content: "\f107";
    font-family: 'FontAwesome';
    font-size: 18px;
    line-height: 20px;
    display: inline-block;
    color: #000000;
    position: absolute;
    right: 18px;
    bottom: 12px;
}
.country .dropdown-menu.show,
.gender .dropdown-menu.show {
    width: 100%;
    min-width: 100%;
}
.dropdown-item a{
    color: #ff0008;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: none;
}
.button-block.button-block-m {
    margin: 0 0 38px;
}
.form-control-out {
    position: relative;
}
.successfully:after {
    content: "\f00c";
    font-family: 'FontAwesome';
    font-size: 19px;
    line-height: 21px;
    display: inline-block;
    color: #50d166;
    position: absolute;
    right: 39px;
    bottom: 16px;
}
.inadvertently:after {
    content: "\f00d";
    font-family: 'FontAwesome';
    font-size: 24px;
    line-height: 26px;
    display: inline-block;
    color: #ff272b;
    position: absolute;
    right: 39px;
    bottom: 14px;
}
.remember-it {
    margin: 0 0 68px;
}
.menu-3 .form-control {
    margin: 0 0 45px;
}
.menu-invisible {
    display: none;
}
.dropdown-item.active,
.dropdown-item:active {
    color: #000000;
    text-decoration: none;
    background-color: #ffffff;
}
.img-out {
    position: relative;
    margin: 0 0 20px;
    max-height: 619px;
    overflow: hidden;
}
.img-out img {
    width: 100%;
}
ul.dropdown-menu.show {
    max-height: 300px;
}
/*----landingpage----*/
.cam-revolution {
    padding: 20px 55px 0;
    width: 98%;
    height: 487px;
    border-radius: 6px;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07), 0 2px 4px 0 rgba(255, 116, 116, 0.5);
}
.arrow-a {
    display: block;
    position: relative;
    margin: auto;
    width: 94px;
    height: 94px;
    border: solid 2px #ff696e;
    border-radius: 50%;
}
.arrow-a:after {
    content: "";
    width: 22px;
    height: 22px;
    border-right: 3px solid #ff272b;
    border-bottom: 3px solid #ff272b;
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    right: 36px;
    bottom: 35px;
}
.arrow-a:before {
    content: "";
    width: 26px;
    height: 3px;
    display: inline-block;
    background-color: #ff272b;
    position: absolute;
    right: 36px;
    bottom: 44px;
}

.webcam {
    margin: 0 0 20px;
    text-transform: uppercase;
    background-color: #ff696e;
    border: none;
    border-radius: 30px;
    width: 116px;
    height: 27px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 10px;
    line-height: 12px;
    font-weight: bold;
    letter-spacing: 1.3px;
    color: #000000;
}
.webcam:hover,
.webcam:focus {
    color: #fff;
    background-color: #ff696e;
    border: none;
}
.btn-primary:not(:disabled):not(.disabled):active:focus, .btn-primary:not(:disabled):not(.disabled).active:focus, .show > .btn-primary.dropdown-toggle:focus {
    box-shadow: none;
}
.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
    color: #fff;
    background-color: #ff696e;
    border: none;
    box-shadow: none;
}
.light-p {
    margin: 0 0 3px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 30px;
    line-height: 50px;
    font-weight: normal;
    color: #959595;
}
.regular-p {
    margin: 0 0 65px;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 20px;
    line-height: 50px;
    font-weight: normal;
    color: #000000;
}
.regular-p span {
    color: #ff4c4c;
}
/*----caming---*/
.left-block {
    position: relative;
    margin: 0 0 32px;
    padding: 13px 16px;
    max-width: 234px;
    min-width: 234px;
    min-height: 53px;
    border-radius: 16px;
    background-color: #dadada;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #666666;
}
.right-block {
    position: relative;
    margin: 0 0 32px;
    padding: 13px 16px;
    max-width: 234px;
    min-width: 234px;
    min-height: 53px;
    border-radius: 16px;
    background-color: #ff696e;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.92;
    letter-spacing: normal;
    color: #000000;
}
.left-block:before {
    content: "";
    width: 6px;
    height: 15px;
    display: inline-block;
    background: url("/img/img-block-left.png") no-repeat;
    position: absolute;
    left: -3px;
    bottom: 0;
}
.right-block:after {
    content: "";
    width: 6px;
    height: 15px;
    display: inline-block;
    background: url("../img/img-block-right.png") no-repeat;
    position: absolute;
    right: -2px;
    bottom: -3px;
}

.type-status {
    position: absolute;
    width: 97.5%;
    padding: 50px 25px 25px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.05);
    z-index: 25;
}
.rectangle {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    top: 14px;
    right: 38px;
    cursor: pointer;
    z-index: 20;
}
.rectangle span:nth-child(1) {
    position: relative;
    display: block;
    margin: 0 0 7px;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: #ff696e;
}
.rectangle span:nth-child(2) {
    position: relative;
    display: block;
    margin: 0 0 7px;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: #d8d8d8;
}
.rectangle span:nth-child(3) {
    position: relative;
    display: block;
    width: 9px;
    height: 9px;
    border-radius: 1px;
    background-color: #d8d8d8;
}
.rectangle span:nth-child(1):before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #ff696e;
    left: 16px;
    bottom: 0;
}
.rectangle span:nth-child(1):after {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #ff696e;
    left: 32px;
    bottom: 0;
}
.rectangle span:nth-child(2):before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #d8d8d8;
    left: 16px;
    bottom: 0;
}
.rectangle span:nth-child(2):after {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #d8d8d8;
    left: 32px;
    bottom: 0;
}
.rectangle span:nth-child(3):before {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #d8d8d8;
    left: 16px;
    bottom: 0;
}
.rectangle span:nth-child(3):after {
    content: "";
    width: 9px;
    height: 9px;
    display: inline-block;
    position: absolute;
    background-color: #d8d8d8;
    left: 32px;
    bottom: 0;
}
.status-out {
    margin: 0 0 10px;
}
.status.form-control {
    width: 295px;
    height: 47px;
    border-radius: 4px;
    background-color: #ffffff;
    border: 2px solid #f5f5f5;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #000000;
}
.status.form-control::-webkit-input-placeholder {
    font-weight: bold;
    color: #000000;
}
.status.form-control::-moz-placeholder {
    font-weight: bold;
    color: #000000;
}
.status.form-control:-moz-placeholder {
    font-weight: bold;
    color: #000000;
}
.status.form-control:-ms-input-placeholder {
    font-weight: bold;
    color: #000000;
}
.status.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #f5f5f5;
    outline: 0;
    box-shadow: none;
}
.close-block {
    position: absolute;
    top: 26px;
    right: 74px;
    display: block;
    width: 44px;
    height: 44px;
    border: 2px solid #000000;
    border-radius: 50%;
    -webkit-transition: .4s;
    transition: .4s;
}
.close-block:before {
    content: "";
    width: 19px;
    height: 2px;
    display: inline-block;
    position: absolute;
    background-color: #000000;
    left: 11px;
    bottom: 19px;
    transform: rotate(-45deg);
    -webkit-transition: .4s;
    transition: .4s;
}
.close-block:after {
    content: "";
    width: 19px;
    height: 2px;
    display: inline-block;
    position: absolute;
    background-color: #000000;
    left: 11px;
    bottom: 19px;
    transform: rotate(45deg);
    -webkit-transition: .4s;
    transition: .4s;
}
.close-block:hover,
.close-block:focus {
    border-color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
.close-block:focus:before,
.close-block:focus:after,
.close-block:hover:before,
.close-block:hover:after {
    background-color: #ff696e;
    -webkit-transition: .4s;
    transition: .4s;
}
.title-card {
    padding: 17px 12px 15px;
    border-bottom: 1px solid #FAFAFA;
}
.card {
    border: none;
    border-radius: 8px;
    margin: 0 5px;
    border-radius: 6px;
    background-color: #ffffff;
    box-shadow: 0 5px 30px 0 rgba(0, 0, 0, 0.07);
}
.card-body {
    padding: 10px 25px;
}

@media (min-width: 576px) {
    .card-deck {
        margin: 0 -10px;
    }
    .card-deck .card {
        margin: 0 5px 10px;
    }
}
.title-card h5 {
    margin: 0;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
.title-card h5 .text-style {
    color: #000;
}
.three-check {
    height: 87px;
    overflow: auto;
}
.three-check .custom-checkbox {
    padding-left: 0;
    margin-bottom:15px;
    width: 50%;
    font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #666666;
}
.three-check.card-body {
    padding: 10px;
}
.three-check label {
    padding-left: 43px;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    line-height: 22px;
}
.custom-checkbox .custom-control-label::before {
    border-radius: 4px;
}
.custom-control-input:focus ~ .custom-control-label::before {
    box-shadow: none;
}
.custom-control-label::before {
    top: 1px;
    left: 0;
    width: 20px;
    height: 20px;
    pointer-events: none;
    background-color: #ffffff;
    border: 2px solid #F0F0F0;
}
.custom-control-label,
.custom-control-label::before:focus {
    outline: none;
}
.custom-control-input:active ~ .custom-control-label::before {
    color: #fff;
    background-color: #FF696E;
    border: 2px solid #FF696E;
    outline: none;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
    background-color: #FF696E;
    border: 2px solid #FF696E;
    outline: none;
}
.custom-control-label::after {
    position: absolute;
    display: none;
    top: 0.25rem;
    left: 0;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}
.custom-control input:focus {
    outline: none;
    outline: -webkit-focus-ring-color auto 0px;
}
.input-block {
    padding: 15px;
    border-radius: 6px;
    margin: 15px -5px 0;
    background-color: #fafafa;
    box-shadow: 0 2px 5px 0 rgba(219, 130, 130, 0.05);
}

/*video */
.video-block {
    position: relative;
    height: calc(100vh - 10px);
    overflow: hidden;
}
.my-video {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.my-video.full-screen {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: 100;
}
.volume-controls {
    position: absolute;
    left:25%;
    bottom: 20px;
    width:28%;
    display: flex;
    justify-content: center;
}
.volume-slider {
    -webkit-appearance: none;
    width: 65%;
    margin: 0 20px;
    height: 5px;
    outline: none;
    -webkit-transition: .2s;
    transition: opacity .2s;
    opacity: 0.91;
    border-radius: 4px;
    background-color: #ffffff;
}
.volume-slider:hover {
    opacity: 1;
}

.hidden {
    display: none;
}

.volume-slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20.2px;
    height: 20.6px;
    background-color: #ff696e;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.volume-slider::-moz-range-thumb {
    width: 20.2px;
    height: 20.6px;
    border-radius: 50%;
    background-color: #ff696e;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}
.volume-btn {
    display: inline-block;
    background: none;
    border: none;
    cursor: pointer;
}
.controls-item {
    cursor: pointer;
}
.controls-item:before {
    color: #FFF;
    font-size: 24px;
}
.my-cam-block {
    position: absolute;
    bottom: 88px;
    right: 58px;
    display: flex;
}
.my-cam-video-span {
    width: 102px;
    height: 143px;
    position: relative;
    overflow: hidden;
}

video::-webkit-media-controls {
    display:none !important;
  }

.my-cam-video { 
    width: 100%;
    overflow: hidden;
    object-fit: cover;
}
.right-controls-block {
    position: absolute;
    bottom: 18px;
    right: 10px;
    display: flex;
}
.chat-toggle-btn {
    width: 113px;
    display: inline-block;
    height: 30px;
    margin-left: 13px;
    border-radius: 4px;
    background-color: #ff696e;
    border: solid 1px #ff696e;
    font-size: 9px;
    color: #FFF;
    text-align: center;
    vert-align: middle;
    line-height:30px;
    cursor: pointer;
}
.fullscreen-btn {
    margin-left: 13px;
}
.fullscreen-btn:before {
    font-size: 20px;
}
.my-chat {
    position: absolute;
    top: 0;
    left: 0px;
    right: 15px;
    height:100vh;
    padding-bottom: 110px;
}

.smile.form-group {
    position: absolute;
    bottom: 0;
    padding-top:  35px;
    width:100%;
}
.smile {
    position: relative;
}
.smile label {
    display: none;
}
.textarea-block {
    position: relative;
}
div.form-control {
    position: relative;
    padding: 15px 30px 15px 60px;
    width: 100%;
    height: 68px;
    outline: 13px solid #EDEDED;
    outline-offset: -10px;
    font-size: 13px;
    line-height: 1.2;
    color: #666;
}
div.form-control:focus {
    color: #495057;
    background-color: #ffffff;
    border: none;
    outline: 13px solid #EDEDED;
    outline-offset: -10px;
    box-shadow: none;
}
.smile-btn {
    width: 23px;
    height: 23px;
    display: inline-block;
    position: absolute;
    left: 25px;
    top: 50%;
    z-index: 1;
    transform: translateY(-50%);
}
.smile-btn:before {
    font-size: 25px;
    color: #cfcfd2;

}
.pop_up {
    width: 164px;
    height: 29px;
    border-radius: 100px;
    box-shadow: 0 4px 15px 0 rgba(0, 0, 0, 0.1);
    background-color: #ffffff;
    border: solid 3px #e1e1e1;
}
.smiles {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0 3px;
    width: 164px;
    height: 29px;
    border: 3px solid #E1E1E1;
    border-radius: 16px;
    clear: both;
    overflow: hidden;
}
.smiles li {
    margin-left: 2px;
    margin-right: 2px;
    display: inline-block;
    list-style-type: none;
}
.smiles a {
    display: block;
    width: 21px;
    height: 23px;
    background: url("../img/smiles.png") no-repeat;
}
.smiles a.smile-1 {
    background-position: 0 1px;
}
.smiles a.smile-2 {
    background-position: 0 -50px;
}
.smiles a.smile-3 {
    background-position: 0 -101px;
}
.smiles a.smile-4 {
    background-position: 0 -152px;
}
.smiles a.smile-5 {
    background-position: 0 -203px;
}
.smiles a.smile-6 {
    background-position: 0 -254px;
}
.emoji {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url("../img/smiles.png") no-repeat;
    border: transparent 1px solid;
}
.emoji-1 {
    background-position: 0 1px;
}
.emoji-2 {
    background-position: 0 -50px;
}
.emoji-3 {
    background-position: 0 -101px;
}
.emoji-4 {
    background-position: 0 -152px;
}
.emoji-5 {
    background-position: 0 -203px;
}
.emoji-6 {
    background-position: 0 -254px;
}

h5 {
    display: inline-block;
}

.inputCountry {
    width: auto;
}

.my-chat-scroll {
    max-height: calc(100vh - 100px);
    max-height: -moz-calc(100vh - 100px);
    max-height: -webkit-calc(100vh - 100px);
    overflow-y: auto;
    overflow-x: hidden;
}
.simplebar-track.horizontal {
    display: none;
}
.next-video {
    display: block;
    position: absolute;
    right:14px;
    top:50%;
    transform: translateY(-50%);
    margin: auto;
    width: 143px;
    height: 143px;
    background: #FFF;
    border-radius: 50%;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.next-video:after {
    content: "";
    width: 40px;
    height: 40px;
    border-right: 4px solid #ff696e;
    border-bottom: 4px solid #ff696e;
    transform: rotate(-45deg);
    display: inline-block;
    position: absolute;
    right: 50px;
    bottom: 52px;
}
.next-video:before {
    content: "";
    width: 50px;
    height: 4px;
    display: inline-block;
    background-color: #ff272b;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.donate-popup {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
button:focus, button::before {
    box-shadow: none;
    outline: none;
}

@media (min-width: 480px) and (max-width: 1049px) {
    .registration {
        width: 100%;
    }
    .cam-revolution {
        width: 100%;
    }
}
@media (min-width: 1050px) and (max-width: 1300px) {
    .registration {
        width: 89%;
    }
    .cam-revolution {
        width: 100%;
    }
}
@media (min-width: 992px) and (max-width: 1349px) {
    .regular-p {
        margin: 0 0 5px;
    }
}
@media (min-width: 1350px) and (max-width: 1430px) {
    .regular-p {
        margin: 0 0 25px;
    }
}
@media (min-width: 992px) {
    .page .col-lg-8,
    .page .col-xl-8 {
        max-width: 72%;
    }
    .page .col-lg-4,
    .page .col-xl-4 {
        max-width: 28%;
    }
    .col-xl-8 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 72%;
        flex: 0 0 72%;
        max-width: 72%;
    }
    .col-xl-4 {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 28%;
        flex: 0 0 28%;
        max-width: 28%;
    }

}
@media (max-width: 991px) {
    .cam-revolution {
        margin: 0;
    }
    .my-chat {
        position: relative;
        left: auto;
        right:auto;
        height:auto;
        padding: 30px 0 110px;
    }
    .my-chat-scroll {
        max-height: inherit;
        overflow: inherit;
    }
    .left-block,
    .right-block {
        max-width: 70%;
    }
    .next-video {
        width: 100px;
        height:100px;
    }
    .next-video:after {
        content: "";
        width: 30px;
        height: 30px;
        border-right: 4px solid #ff696e;
        border-bottom: 4px solid #ff696e;
        transform: rotate(-45deg);
        display: inline-block;
        position: absolute;
        right: 32px;
        bottom: 35px;
    }
    .next-video:before {
        content: "";
        width: 40px;
        height: 4px;
    }
    .volume-controls {
        position: absolute;
        left: 15%;
        bottom: 20px;
        width: 40%;
        display: flex;
        justify-content: center;
    }
}
/* Малые девайсы («ландшафтные», < 768px)*/
@media (max-width: 768px) {
    .logo {
        left: 22px;
    }
    .message-inform {
        right: 22px;
    }
    .next-video {
        width: 60px;
        height:60px;
    }
    .next-video:after {
        content: "";
        width: 20px;
        height: 20px;
        border-right: 4px solid #ff696e;
        border-bottom: 4px solid #ff696e;
        transform: rotate(-45deg);
        display: inline-block;
        position: absolute;
        right: 16px;
        bottom: 20px;
    }
    .next-video:before {
        content: "";
        width: 30px;
        height: 4px;
    }
    .volume-controls {
        position: absolute;
        left: 10%;
        bottom: 20px;
        width: 50%;
        display: flex;
        justify-content: center;
    }
}
