@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Regular.eot');
  src: url('../fonts/AvenirNextLTPro-Regular.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Regular.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Regular.ttf') format('truetype'),
  url('../fonts/AvenirNextLTPro-Regular.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Medium.eot');
  src: url('../fonts/AvenirNextLTPro-Medium.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Medium.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Medium.ttf') format('truetype'),
  url('../fonts/AvenirNextLTPro-Medium.svg') format('svg');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Avenir Next';
  src: url('../fonts/AvenirNextLTPro-Bold.eot');
  src: url('../fonts/AvenirNextLTPro-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/AvenirNextLTPro-Bold.woff') format('woff'),
  url('../fonts/AvenirNextLTPro-Bold.ttf') format('truetype'),
  url('../fonts/AvenirNextLTPro-Bold.svg') format('svg');
  font-weight: bold;
  font-style: normal;
}


html body {
  position: relative;
  font-family: 'Avenir Next', Arial, Helvetica, sans-serif;
}



@import "./scss/_base";